.component {
  margin: 42px 20px;
}

.component h5,
.component p {
  text-align: center;
}

.component h5 {
  font-size: 20px;
}

.component img {
  width: 150px;
  height: 150px;
  margin: 10px 0;
}
